{
  "presets": [["env", { "modules": false }], "react", "flow"],
  "plugins": ["transform-class-properties"],
  "env": {
    "production:cjs": {
      "presets": ["env", "react", "flow"],
      "plugins": [
        "transform-class-properties"
      ]
    },
    "production:esm": {
      "presets": [["env", { "modules": false }], "react", "flow"],
      "plugins": [
        "transform-class-properties"
      ]
    },
    "test": {
      "presets": ["env", "react", "flow"],
      "plugins": ["transform-class-properties"]
    }
  }
}
